
<app-nav></app-nav>
<!--------------------------div holding signup page------------------------------------>
<div class="row main">
    <div class="col-md-4 offset-md-4">
      <p class="error text-center">{{errorMessage}}</p><!---showing error-->
      <!--signup form-->
        <form class="input-form mb-4">
          <h2 class="text-center text-white pt-2 pb-3 mb-3">Sign-Up</h2>
          <div class="mt-4">
              <input type="text"  name="firstName" class="form-control" [(ngModel)] ="firstName" placeholder="First Name" />
            </div>
            <div class="mt-4">
                <input type="text"  name="lastName" class="form-control" [(ngModel)] ="lastName" placeholder="Last Name" />
              </div>
          <div class="mt-4">
            <input type="text"  name="email" class="form-control" [(ngModel)] ="email" placeholder="E-mail" />
          </div>
          <div class="mt-4">
            <input type="password"  name="password" class="form-control mt-3" [(ngModel)] ="password"  placeholder="Password" required/>
          </div>
          <div class="d-flex justify-content-between mt-4 ">                    
            <select id="country-name" class="form-control third-size" name="country" [(ngModel)]="country" (change)="getCountryCode()">
               <option>{{country}}</option>                     
              <option *ngFor="let item of countryCodeList">{{item.name}}</option>
            </select>
            <input id="country-code" type="text" name="countryCode" class="form-control sixth-size" [(ngModel)]="countryCode" placeholder="Country Code" />
            <input id="mobile-input" type="text" name="mobile" class="form-control third-size" [(ngModel)]="mobile" placeholder="Mobile Number" />                              
           </div>
          <div class="d-flex justify-content-center mt-4 mb-3">
            <button class="btn my-nav-bg submitBtn" (click)="signupFunction()">Submit</button>
          </div>
        </form>
        <!--signup form ended-->
    </div>
</div>
