<!---->
<!------------------------navbar starts here------------------------------->
<nav class="navbar navbar-fixed navbar-expand-lg my-nav-bg navbar-dark"> 
    <a class="navbar-brand" href="#">To-Do-List</a>
    <span class="text-white">Welcome : {{pageOwnerName}}</span>   
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']"> Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"> 
              <i class="fa fa-user-o" (click)="showContactList()" aria-hidden="true"></i>
            </a>
          </li>                       
          <li class="nav-item">
            <a class="nav-link"> 
              <i class="fa fa-bell" (click)="showNotificationList()" aria-hidden="true"></i>
            </a>
          </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/log-out']">Logout</a>
      </li>       
    </ul>
  </div>  
  </nav>
<!----------------------navbar ends here------------------------------->
