.btn-login{
    background:black;
    color:white;
}
.btn-login:hover{
    background:rgb(1, 1, 44);
    color:white;
    font-weight:bold;
}
.login-form{
    background:rgb(68, 126, 241);
    border-radius:5px;
    margin-top:50px;
}
.help-block{
    color:red;
}