
/*--------------------------------------------------------------*/
@media screen and (max-width:768px){
    
    #subItemEditModal{
        display:none; 
        width:100vw;
        height:auto;   
        position:absolute;
        top:10vh;
        left:0vw;
        z-index:1000;
        background:rgb(57, 81, 216);
        color:white; 
    }
    
}
@media screen and (min-width:768px){
    
    #subItemEditModal{
        display:none; 
        width:30vw;
        height:auto;   
        position:absolute;
        top:20vh;
        left:30vw;
        z-index:1000;
        background:rgb(57, 81, 216);
        color:white;    
    }    
}