<!------------------this left sidebar will show lists---------------->        
<div class="heading-btn text-center">{{fullName}} : All Lists</div>
  <div class="input-btn input-group  mb-3" *ngIf="pageType=='self'">
      <input type="text" class="form-control" (keydown)="createListUsingKeypress($event)" [(ngModel)]="newList" placeholder="Input List Name">
      <div class="input-group-append">
        <button class="addItemBtn" type="submit" (click)="createList()">Add List</button>
      </div>
  </div> 
  <!--(click)="getItemsByListId(list.originId, userId, list.listName)"-->
<div class="container-fluid" >
  <div class="row" *ngIf="allLists.length > 0 ; else infoText">
      <div  *ngFor="let list of allLists"  class="list-btn"  >
          <span class="ml-3"></span>
          <span class="ml-3 light-color-text" >{{list.listName}}</span>              
          <span class="pull-right mr-3">
            <i class="fa fa-times-circle-o" aria-hidden="true" (click)="deleteList(list.listId)"></i>        
          </span>
          <span class="pull-right reqBtn mr-3" 
            [ngClass]="{'reqBtn': list.status == 'open', 'doneBtn': list.status == 'done' }"
            (click)="changeStatus(list.listId)" >{{list.status}}</span>
          <span class="pull-right reqBtn mr-3" (click)="showEditListModal(list.listId, list.listName)">Edit</span>
      </div>      
  </div>
  <ng-template #infoText>
    <p class="text-center">No List to display</p>
  </ng-template>
  
</div>
                               
<!---------------------------------------------------------(click)="changeStatus(list.originId)"------------------------------------------------------>
<div id="editListModal">
    <div class="mb-3" style="font-size:24px;">
        <span class="pull-right mr-3">
            <i class="fa fa-times-circle-o mb-3" aria-hidden="true" 
             (click)="closeEditModal()"></i>
        </span>
    </div>
  <form class="full-width">
      <h5 class="text-center"> Edit</h5>
      <div class="full-width mt-2">
        <label for="listName">List Name :</label>
        <input type="text" name="listName"  [(ngModel)]="listName" value="{{listName}}"  />
      </div>      
      
      <div class="full-width text-center">
          <button class="editBtn" (click)="editList()">Submit</button>
      </div>
  </form>  
</div>
<!----------------------------------------------------------------------------------------->
