<!----------------------navbar starts here------------------------------->
<app-task-nav></app-task-nav>

<!----------------------navbar ends here------------------------------->
<div class="container-fluid main">
  <div class="row">
    <div class="col-md-3">
      <h5 class="text-center"> Lists </h5>
      <p>list ul here</p>
    </div>
    <div class="col-md-6 item-box">
      <h5 class="text-center">Items</h5>
      <p class="text-center"> items here</p>
      <p class="text-center">items here</p>
      <p class="text-center"> items here</p>
      <p class="text-center">items here</p>
      <p class="text-center"> items here</p>
      <p class="text-center">items here</p>
      <p class="text-center"> items here</p>
      <p class="text-center">items here</p>
      <p class="text-center"> items here</p>
      <p class="text-center">items here</p>
      <p class="text-center"> items here</p>
      <p class="text-center">items here</p>      
    </div>
    <div class="col-md-3">
      <app-friend-list></app-friend-list>
    </div>
  </div>

</div>

