/*--- You can add global styles to this file, and also import other style files-- */
@import "~bootstrap/dist/css/bootstrap.css";
/* TOASTR BUGFIX */
body{
  background:rgb(190, 200, 240);

}
#toast-container > div {
    opacity: 1;
  }
  .toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
  }
  .toast-success {
    background-color:darkblue !important;
    border-radius:10px;
    color:white !important;
    width:200px !important;
    height:auto;
    position:fixed;
    top:80px;
    right:50px;
    text-align: center;
    padding:5px 20px;
  }
  .toast-error {
    background-color: rgb(225, 37, 117) !important;
    border-radius:10px;
    color:white !important;
    width:200px !important;
    height:auto;
    position:fixed;
    top:80px;
    right:50px;
    text-align: center;
    padding:5px 20px;
  }
  .toast-info {
    background-color: #2F96B4 !important;
  }
  .toast-warning {
    background-color: #F89406 !important;
  }


/* -------------------------NAV related CSS settings ------------------------------*/

.my-nav-bg{
  background:rgb(0, 0, 40);    
}
.my-bg{
  background:lightslategray;    
}
.main{  
  min-height:85vh;
}
.nav-link{
  color:white;
}
.my-bg-color{
  background:rgb(151, 7, 49);   
}
/* ------------------------form related CSS settings ------------------------------*/
.input-form{
  padding: 0px;    
  margin-top:2.00rem;
  background:rgb(57, 81, 216);
  padding-bottom:20px;    
}
.input-form h2{
  margin:0 !important;    
  border-left:10px;
  border-right:10px;
  background:rgb(0, 0, 40); 
  color:white;
}
.input-form input{    
  color:#777;
  font-weight:normal;
}
.form-control{
  width:80%;
  margin:0 auto;
}
/*-------------------------------------------------------------------------------*/
.error{
  color:red;
  font-weight:bold;
}
.pointer{
  cursor:pointer;
}

.input-btn:first-child{
  margin-top:0px;
}
.light-color-text{
  font-size:12px;
  color:#777;
}

/*--------------------------------------------------------------------------------*/
.submitBtn{
  background:rgb(0, 0, 40);
  color:white;
}
.submitBtn:hover{
  background:rgb(3, 3, 245);
  color:white;
  font-weight:bold;
}
/*------------------------------status change buttons----------------------------------*/
/*heading of lists/items/subItems*/
.heading-btn{
  cursor:pointer;
  background:darkblue;
  color:white;
  font-weight: bold;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
}

/*------rows of lists/items/sub-items---*/
.list-btn{
  cursor:pointer;
  background:white;
  width:100%;
  padding-top:5px;
  padding-bottom:5px;
  border-bottom:1px solid #777;
}
.list-btn:first-child{
  margin-top:0px;
  width:100%;
}
/*------heading---*/
h5{
  background:darkblue;
  color:white;
  padding-top:10px;
  padding-bottom:10px;
  margin:0px !important;
}
/*------friend list column---*/
.col-md-2{
  padding:0px !important;
     
}
/*------home container and its list and item column---*/
.home-container{
  border-top:1px solid #777;
}  
/*display latest notification    */
.info-bar{
  background:rgb(57, 81, 216);
  color:white;
}


.col-md-6{
  border-right:1px solid #777;
  border-left:1px solid #777;  
}

/*------space of home-page-btn---*/
.home-page-btn-box{
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
}
/*------item and sub-item box ---*/
.item-box{
  background:white;
  height:50vh;
  border-bottom:1px solid #777;
  width:100%;
  overflow:auto;
}
.sub-item-box{
  background:white;
  height:auto;
  border-bottom:1px solid #777;
  width:100%;
  overflow:auto;
}


.userBox{
  padding:10px 0px 10px 20px;
  color:#777;
  border-bottom:1px solid #777;
  font-size:10px;
  background:white;
}
.contactName{
  color:#777;
}
/*------form related settings ---*/
form{
  padding:10px;
}
label{
  width:30%;
}
input{
  width:70%;
}
#editBtn{
  background:darkblue;
  color:white;
  font-weight:bold;
  border:none;
  margin-top:10px;
  padding:5px 10px;
}

/*------------------------------some more buttons----------------------------------*/
.reqBtn{
  cursor:pointer;
  font-size:9px;
  font-weight:bold;
  background:darkblue;
  color:white;
  border-radius:5px;
  padding:2px 4px;    
}
.doneBtn{
  cursor:pointer;
  font-size:9px;
  font-weight:bold;
  background:rgb(151, 7, 49);
  color:white;
  border-radius:5px;
  padding:2px 4px;    
}

.addItemBtn{
  background:rgb(57, 81, 216);
  color:white;
  border:none;
  padding-left:10px;
  padding-right:10px;
  font-weight:bold;
}
/*------------------------------------------------------------------*/


/*------------------------------------------------Modal------------------------------------------------------------*/
.notification-message{
  border-bottom:1px solid #777;
}


.closeBtn{
  background:darkblue;
  color:white;
  cursor:pointer;  
  font-size:18px;
  padding:0px 5px;
}
.bottom-line{
  font-weight:bold;
  text-align:center;
}
.bottom-line-box{
  border-bottom:1px solid #777;
}



@media screen and (max-width:768px){
  .col-md-4, .col-md-6{    
    padding:0px !important;
  }
  #editModal{
      position: absolute;
      top:10vh;
      left:0vw;
      width:100vw;
      height:auto;
      display:none;
      z-index:1000;
      background:rgb(57, 81, 216);
      color:white; 
  }
  #subItemEditModal{
      display:none; 
      width:100vw;
      height:auto;   
      position:absolute;
      top:10vh;
      left:0vw;
      z-index:1000;
      background:rgb(57, 81, 216);
      color:white; 
      border:1px solid #aaa;
  }
  #all-notification-modal{
    display:none; 
    width:100vw;
    height:auto;   
    position:absolute;
    top:8vh;
    right:0vw;
    z-index:10001;
    background:white;
    color:#777;    
    text-align:center;    
    font-size:10px;
  }
  #notification-modal{
    display:none;     
    position:absolute;
    top:20vh;
    left:0vw;
    z-index:10010;
    background:rgb(210, 230, 240);
    color:#777;    
    padding:5px 10px;    
    font-size:10px;
  
  }
  
  #contacts-modal{
    display:none; 
    width:100vw;
    height:auto;   
    position:absolute;
    top:8vh;
    left:0vw;
    z-index:10000;
    background:white;
    color:#777;
    font-size:10px;
  }
  
  #friendship-modal{
    display:none;    
    position:absolute;
    width:100vw;
    top:20vh;
    left:0vw;
    z-index:1000;
    background:white;
    color:#777;
    border:1px solid #777;
    padding:10px 20px;
    font-size:12px;
  }
  
}

/* CSS settings for bigger screens */
@media screen and (min-width:768px){
  .main{
    min-height:85vh;
  }
  .col-md-4, .col-md-6{  
    min-height:85vh;
    padding:0px !important;
  }
  #editModal{
      display:none;    
      position:absolute;
      width:30vw;
      height:auto; 
      top:20vh;
      left:30vw;
      z-index:1000;
      background:rgb(57, 81, 216);
      color:white;    
  }
  #subItemEditModal{
      display:none; 
      width:30vw;
      height:auto;   
      position:absolute;
      top:20vh;
      left:30vw;
      z-index:1000;
      background:rgb(57, 81, 216);
      color:white;    
  }
  #all-notification-modal{
    display:none; 
    width:25vw;
    height:auto;   
    position:absolute;
    top:8vh;
    right:0vw;
    z-index:10001;
    background:white;
    color:#777;    
    text-align:center;    
    font-size:10px;
  }
  #friendship-modal{
    display:none;
    width:30vw;
    height:auto;
    position:absolute;
    top:20vh;
    left:30vw;
    z-index:1000;
    background:white;
    color:#777;
    border:1px solid #777;
    padding:10px 20px;
    font-size:12px;
}
#notification-modal{
  display:none;     
  position:absolute;
  top:30vh;
  left:40vw;
  z-index:10010;  
  color:#777;    
  padding:5px 10px;    
  font-size:10px;
  background:rgb(210, 230, 240);  
  border:1px solid #aaa;
}

#contacts-modal{
  display:none; 
  width:25vw;
  height:auto;   
  position:absolute;
  top:8vh;
  right:0vw;
  z-index:10000;
  background:white;
  color:#777;
  font-size:10px;
}
  
}