/*--- You can add global styles to this file, and also import other style files-- */
@import "~bootstrap/dist/css/bootstrap.css";
/* TOASTR BUGFIX */
#toast-container > div {
    opacity: 1;
  }
  .toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
  }
  .toast-success {
    background-color:darkblue !important;
    border-radius:10px;
    color:white !important;
    width:200px !important;
    height:auto;
    position:fixed;
    top:80px;
    right:50px;
    text-align: center;
    padding:5px 20px;
  }
  .toast-error {
    background-color: rgb(225, 37, 117) !important;
    border-radius:10px;
    color:white !important;
    width:200px !important;
    height:auto;
    position:fixed;
    top:80px;
    right:50px;
    text-align: center;
    padding:5px 20px;
  }
  .toast-info {
    background-color: #2F96B4 !important;
  }
  .toast-warning {
    background-color: #F89406 !important;
  }


/* -------------------------NAV related CSS settings ------------------------------*/
.my-nav-bg{
  background:rgb(0, 0, 40);    
}
.my-bg{
  background:lightslategray;    
}
.main{
  background:white; 
  min-height:85vh;
}
.nav-link{
  color:white;
}
.my-bg-color{
  background:rgb(151, 7, 49);   
}
/* ------------------------form related CSS settings ------------------------------*/
.input-form{
  padding-top: 0px;    
  margin-top:2.00rem;
  background:lightslategray;
  padding-bottom:20px;    
}
.input-form h2{
  margin:0 !important;    
  border-left:10px;
  border-right:10px;
  background:rgb(0, 0, 40); 
  color:white;
}
.input-form input{    
  color:#777;
  font-weight:normal;
}
.form-control{
  width:80%;
  margin:0 auto;
}
/*-------------------------------------------------------------------------------*/
.error{
  color:red;
  font-weight:bold;
}

/*--------------------------------------------------------------------------------*/
.submitBtn{
  background:rgb(0, 0, 40);
  color:white;
}
.submitBtn:hover{
  background:rgb(3, 3, 245);
  color:white;
  font-weight:bold;
}
/*-------------------------------------------------------------------------------------*/
