
/*------------------Modal realted---------------------------------*/
@media screen and (max-width:768px){
    #editItemModal{
        position: absolute;
        top:8vh;
        left:0vw;
        width:100vw;
        height:auto;
        display:none;
        z-index:1000;
        background:rgb(57, 81, 216);
        color:white; 
    }
}
@media screen and (min-width:768px){
    #editItemModal{
        display:none;    
        position:absolute;
        width:30vw;
        height:auto; 
        top:20vh;
        left:10vw;
        z-index:1000;
        background:rgb(57, 81, 216);
        color:white;    
    }
    
}

.message-para{
    margin-top:20vh;
    color:#777;    
}