h5{
    background:darkblue;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    margin:0px !important;
}
.sidebar{
    padding:0px !important;
    margin:0px !important;
    max-height:85vh;
    overflow:auto;
}
.frndName{
    margin:10px 20px;
    font-size:12px;
    padding-bottom:10px;
    border-bottom:1px solid #aaa;
    color:#777;
}
.reqBtn{
    cursor:pointer;
    font-size:9px;
    font-weight:bold;
    background:darkblue;
    color:white;
    border-radius:5px;
    padding:2px 4px;    
}
.pointer{
    cursor:pointer;
}