<app-task-nav [userId]="userId"></app-task-nav>
<div class="container-fluid info-bar">
    <div class="row">
      <!------------------------------------------------------------->
      <div class="col-md-12 text-center p-2" *ngIf="lastChangeObject; else infoText">           
        <span>{{lastChangeMessage}}</span><span class="reqBtn ml-3" (click)="undoLastChange()">Undo</span>
      </div>
      <ng-template #infoText>
        <p>No information to display</p>
      </ng-template>
    </div>
</div>

<div class="container-fluid home-container main (keydown.control.z)='undoKeyboardEvent(event)'" >
  <div class="row">
    <!-------------------------------------------------------------------->
      <div class="col-md-4 box">          
        <app-list [userId]="userId"></app-list>
      </div>

      <div class="col-md-6 box">
        <app-items [userId]="userId"></app-items>
        <app-sub-items [userId]="userId"></app-sub-items>
      </div>
      <div class="col-md-2 box mb-3">
        <div class="home-page-btn-box">
          <button class="reqBtn" (click)="moveToHomePage()">Move to Home Page</button>
        </div>
        <app-friend-list [userId]="userId"></app-friend-list>
      </div>
    
  <!--------------------------------------------------------------------------------------->
  </div>
</div>
<!-------------------------------------Contacts Modal-------------------------------------->
<div id="contacts-modal" >
  <div class="mb-0 pb-0 mt-0 pt-0" *ngIf="contactList.length > 0">
      <span class="pull-right mt-0 closeBtn" (click)="closeContactModal()">&times;</span>
    <h5 class="text-center">Contacts</h5>
      <div class="userBox m-0"  *ngFor="let user of contactList | slice:0:9">
        <span class="contactName" >{{user.firstName}} {{user.lastName}}</span>
        <span class="pull-right reqBtn mr-3" (click)="sendFriendRequest(user.userId, user.firstName, user.lastName)">Send Friend Request</span> 
      </div>             
  </div>
</div>
<!--------------------------------Notification Modal-------------------------------------->
<div id="notification-modal" >  
      <p class="pull-right mt-0 closeBtn" (click)="closeCurrentNotifModal()">&times;</p>
    <p>{{latestNotification}}</p>     
</div>
<!---------------------------------------------------------------------------------------->
<!---->
<div id="all-notification-modal">  
    <span class="pull-right mt-0 closeBtn" (click)="closeNotificationModal()">&times;</span>
    <h5 class="text-center">Notifications</h5>
    <div *ngIf="notificationList.length > 0 ">
        <div class="notification-message" *ngFor="let item of notificationList | slice:0:9">
            <p>{{item.message}}</p>
        </div>
        <div class="pt-2 bottom-line-box">
          <a class="bottom-line" [routerLink]="['/notifications']">See All</a>
        </div>
    </div>   
</div>
<!---------------------------------------------------------------------------------------->
<div id="friendship-modal" >  
  <div class="text-center">{{message}}</div>
  <div class="d-flex justify-content-between mt-3" *ngIf="friendRequest==true">
      <span class="reqBtn" (click)="declineFriendRequest()">Decline</span>
      <span class="reqBtn" (click)="acceptFriendRequest(senderId, senderName)">Accept</span>
  </div>
</div>
<!--------------------------------------------------------------------------------------->

